<%_ script.create('JQuery')
  .useDependencies(['JQuery/FormPost', 'SemanticUI/Notification', 'SemanticUI/Dialog', 'SemanticUI/Dialog/Message'])
  .addMiddle(`
$.term = {
    notifyResult: function(result) {
        if (result.success) {
            $.queue.load($.queue.page);
            $.notify(result.notice, 'success');
        } else {
            $.notify(result.error, 'error');
        }
    },
    showDialer: function(name) {
        const self = this;
        self.current = name;
        $.ntdlg.input('dialnumber', '${_('Place a call')}', '${_('Please input the number to dial:')}', '', 'phone icon', function(number) {
            if (number.length) {
                $.post('${route('Gw', {name: 'term-dial', imsi: 'IMSI'})}'.replace(/IMSI/, name), {number: number})
                    .done(function(json) {
                        self.notifyResult(json);
                    })
                ;
            } else {
                return false;
            }
        });
    },
    sendMessage: function(name) {
        const self = this;
        self.current = name;
        if (!self.msgdlg) {
            const message =
                '<form class="ui container form">' +
                    '<div class="field">' +
                        '<label>${_('Phone number:')}</label>' +
                        '<input type="text" name="address" value="">' +
                    '</div>' +
                    '<div class="field">' +
                        '<label>${_('Message:')}</label>' +
                        '<textarea name="message" rows="2"></textarea>' +
                    '</div>' +
                '</form>';
            self.msgdlg = $.ntdlg.dialog('msgdlg', '${_('Send message')}', message, 'envelope icon', {
                okay: {
                    type: 'green approve',
                    caption: '<i class="check icon"></i>${_('Ok')}',
                    handler: function() {
                        const msgaddr = self.msgaddress.val();
                        const msgtext = self.msgtext.val();
                        if ('' === msgaddr) {
                            self.msgaddress.focus();
                            return false;
                        }
                        if ('' === msgtext) {
                            self.msgtext.focus();
                            return false;
                        }
                        $.post('${route('Gw', {name: 'term-send', imsi: 'IMSI'})}'.replace(/IMSI/, self.current), {number: msgaddr, message: msgtext})
                            .done(function(json) {
                                self.notifyResult(json);
                            })
                        ;
                    }
                },
                cancel: {
                    type: 'red deny',
                    caption: '<i class="times icon"></i>${_('Cancel')}'
                }
            });
            self.msgaddress = self.msgdlg.find('input[name="address"]');
            self.msgtext = self.msgdlg.find('textarea[name="message"]');
            self.msgdlg.find('form').on('submit', function(e) {
                e.preventDefault();
                self.msgdlg.find('div.green.button').click();
            });
        }
        self.msgaddress.val('');
        self.msgtext.val('');
        $.ntdlg.show(self.msgdlg);
    },
    sendUssd: function(name) {
        const self = this;
        self.current = name;
        if (!self.ussddlg) {
            const message =
                '<form class="ui container form">' +
                    '<div class="field">' +
                        '<label>${_('Service:')}</label>' +
                        '<input type="text" name="service" value="">' +
                    '</div>' +
                    '<div class="field">' +
                        '<label>${_('Feedback:')}</label>' +
                        '<textarea name="feedback" rows="5"></textarea>' +
                    '</div>' +
                '</form>';
            self.ussddlg = $.ntdlg.dialog('ussddlg', '${_('Send USSD')}', message, 'envelope icon', {
                okay: {
                    type: 'green',
                    caption: '<i class="check icon"></i>${_('Ok')}',
                    handler: function() {
                        const service = self.ussdservice.val();
                        if ('' === service) {
                            self.ussdservice.focus();
                        } else {
                            $.post('${route('Gw', {name: 'term-ussd', imsi: 'IMSI'})}'.replace(/IMSI/, self.current), {service: service})
                                .done(function(json) {
                                    self.notifyResult(json);
                                })
                            ;
                        }
                        return false;
                    }
                },
                cancel: {
                    type: 'red deny',
                    caption: '<i class="times icon"></i>${_('Cancel')}'
                }
            });
            self.ussdservice = self.ussddlg.find('input[name="service"]');
            self.ussdfeedback = self.ussddlg.find('textarea[name="feedback"]');
            self.ussddlg.find('form').on('submit', function(e) {
                e.preventDefault();
                self.ussddlg.find('div.green.button').click();
            });
        }
        self.ussdservice.val('');
        self.ussdfeedback.val('');
        $.ntdlg.show(self.ussddlg);
    },
    receiveUssd: function(data) {
        const self = this;
        if (self.current === data.imsi && self.ussdfeedback) {
            let message = self.ussdfeedback.val();
            if (message.length) {
                message += '\\r\\n';
            }
            message += data.message;
            self.ussdfeedback.val(message);
        }
    },
    clicker: function(cmd, src) {
        const self = this;
        const cont = src.parents('form');
        if (cont.length) {
            const term = cont.data('term');
            switch (cmd) {
                case 'dial':
                    self.showDialer(term);
                    break;
                case 'message':
                    self.sendMessage(term);
                    break;
                case 'ussd':
                    self.sendUssd(term);
                    break;
            }
        }
    },
    loadConfig: function() {
        const self = this;
        $.get('${route('Gw', {name: 'term-config', imsi: 'IMSI'})}'.replace(/IMSI/, self.form.data('term')))
            .done(function(json) {
                $.each(json, function(key, value) {
                    let item;
                    switch (key) {
                        case 'operators':
                            item = self.form.find('select[name="term[' + key + '][]"]');
                            break;
                        default:
                            item = self.form.find('input[name="term[' + key + ']"]');
                            break;
                    }
                    if (item) {
                        if (item.is('select')) {
                            item.find('option').each(function() {
                                const option = $(this);
                                const optval = option.attr('value');
                                const selected = value.indexOf(optval) >= 0;
                                option.prop('selected', selected);
                                item.dropdown(selected ? 'set selected' : 'remove selected', optval);
                            });
                        } else if (item.attr('type') === 'checkbox') {
                            item.prop('checked', value);
                        } else {
                            item.val(value);
                        }
                    }
                });
            })
        ;
    },
    handle: function(terminal, operator) {
        const self = this;
        self.form.attr('action', '${route('Gw', {name: 'term-apply', imsi: 'IMSI'})}'.replace(/IMSI/, terminal));
        self.form.data('term', terminal);
        self.form.data('operator', operator);
        self.form.find('.message .header').html(terminal + ' <span class="ui tiny blue label">' + operator + '</span>');
        self.loadConfig();
    },
    init: function() {
        const self = this;
        self.form = $('form.term-config');
        $.formpost(self.form, {xhr: true, progress: false});
        self.form.on('formsaved', function() {
            window.location.reload();
        });
        self.form.find('.btn-dial').on('click', function(e) {
            e.preventDefault();
            self.clicker('dial', $(this));
        });
        self.form.find('.btn-message').on('click', function(e) {
            e.preventDefault();
            self.clicker('message', $(this));
        });
        self.form.find('.btn-ussd').on('click', function(e) {
            e.preventDefault();
            self.clicker('ussd', $(this));
        });
    }
}
`) -%>
